body{
    background-color: #191d28;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}